<div class="form-group">
    <label for="password" class="required"><%= lingua.user.password.name%></label>
    <!-- [A-Za-z0-9]{8,} -->
    <!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" -->
    <!-- title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" -->
    <input type="password" id="password" name="password" class="form-control mb-3 form-control-lg"
        pattern="[A-Za-z0-9]{8,}" title="Must contain at least 8 or more characters" placeholder="Password" required />
    <div id="message">
        <p>
            <%= lingua.user.password.nameRequirement%>
        </p>
        <p>
            <!-- <span id="letter" class="invalid"> <b>1
                    <%#= lingua.user.password.lowerCase%></b>
            </span>, <span id="capital" class="invalid"><b>1
                    <%#= lingua.user.password.upperCase%></b></span>, <span
                id="number" class="invalid"> <b>1
                    <%#= lingua.user.password.number%></b></span>, -->
            <span id="length" class="invalid"> <b>8
                    <%= lingua.user.password.characters%></b></span>
        </p>
    </div>
</div>

<script src="../../js/validatePassword.js"></script>
