<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script>
    $(document).ready(function () {

        const checkoutBtn = $('#checkout-btn'); //New checkout btn
        const oldProcess = $('#oldProcess').val() == 'true'; //New checkout btn
        const publishableKey = `<%= pkStripe%>`;
        const stripe = Stripe(publishableKey);
        const user = `<%- user%>`;
        // Checkout
        if (oldProcess) {
            checkoutBtn.click(function () {
                $(this).prop('disabled', true);
                const subscriptions = JSON.parse($('#subscription-list').val());
                const billingID = $(this).attr("value");
                const email = $(this).attr("email");
                displayLoading('#error-message', 5000);
                if (billingID) {
                    fetch('/checkout', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'email': email
                        },
                        body: JSON.stringify({
                            subscriptions,
                            customerID: billingID,
                            backURL: 'subscribe'
                        })
                    })
                        .then((result) => result.json())
                        .then(({ sessionId }) => stripe.redirectToCheckout({ sessionId }))
                        .catch((error) => alert(error))
                } else {
                    alert("This user don't have billing id.")
                }
            })
        } else {
            // If the user is not logged in.
            checkoutBtn.click(function () {
                $(this).prop('disabled', true);
                const subscriptions = JSON.parse($('#subscription-list').val());
                const email = getCookie('subscriptionEmail');

                if (email && subscriptions) {
                    displayLoading('#error-message', 5000, false);
                    fetch('/checkoutWithEmail', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'email': email
                        },
                        body: JSON.stringify({
                            subscriptions,
                            email: email,
                            backURL: 'subscribe'
                        })
                    })
                        .then((result) => result.json())
                        .then(({ sessionId }) => stripe.redirectToCheckout({ sessionId }))
                        .catch((error) => {
                            showResult('#error-message',
                                `<p class="alert alert-fill-danger mt-2 p-1">
                                <i class="fa-circle-exclamation fa-solid"></i> ${error}
                            </p>`);
                        })
                } else {
                    // invalid
                    showResult('#error-message',
                        `<p class="alert alert-fill-danger mt-2 p-1">
                                <i class="fa-circle-exclamation fa-solid"></i> Invalid email value.
                            </p>`);
                    setTimeout(() => {
                        showResult("#error-message", ``);
                    }, 1000);
                }
            })
        }
    });
</script>